<h1 id = "form_new_titre"> Modifier l'activité</h1>

<%= render 'form' %>

<strong id ="icon_mod" > <i class=" icon-eye-open" style ="margin-left : 616px;"></i> |<%= link_to 'Voir activité', @activite %> | </strong>
<strong id ="icon_mod" > <i class=" icon-repeat" ></i> <%= link_to 'tous les activités', activites_path %> |</strong>
