<h1 id = "form_new_titre">Une nouvelle activité</h1>

<%= render 'form' %>

<h4 id ="icon_mod" style ="margin-left : 616px;"> <i class=" icon-eye-open"  ></i> <%= link_to 'Voir toutes les activités', activites_path %></h4>
