  
    <i class="icon-star"  id="icon-membre"></i>
    <i class="icon-star"  id="icon-membre"></i> 
    <h3 id = "title-membre" >Les membres de la choral</h3>
    <i class="icon-star"  id="icon-membre"></i>
    <i class="icon-star"  id="icon-membre"></i>
    

<ul class="thumbnails" id ="membrebureau">
    <li class="span3">
      <div class="thumbnail"><img src="/images/b.jpg" alt="Tigre">
         <center><h5>Choral</h5></center> 
      </div>
      
    </li>
        <li class="span3">
      <div class="thumbnail"><img src="/images/a.jpg" alt="Tigre">
         <center><h5>Enfants de la choral</h5></center> 
      </div>
    </li>
        <li class="span3">
      <div class="thumbnail"><img src="/images/c.jpg" alt="Tigre">
       <center><h5>Equipe de la choral</h5></center> </div>
    </li>
        
  </ul>
<ul class="thumbnails" id ="membrebureau1">
    <li class="span3">
      <div class="thumbnail"><img src="/images/1.jpg" alt="Tigre">
         <center><h5>Notes de musique</h5></center> 
      </div>
      
    </li>
        <li class="span3">
      <div class="thumbnail"><img src="/images/2.jpg" alt="Tigre">
         <center><h5>Choral</h5></center> 
      </div>
    </li>
        <li class="span3">
      <div class="thumbnail"><img src="/images/9.jpg" alt="Tigre">
       <center><h5>Choral</h5></center> </div>
    </li>
        
  </ul>
