<h2>Bienvenue ! vous etes sur la page de Setting</h2>


	<div class="row">
		<div class="span5" id ="border_vertical">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, unde, ab, suscipit totam error temporibus quia odio iste ut distinctio explicabo ratione ipsam numquam reprehenderit nostrum recusandae laboriosam nesciunt cupiditate!
		</div>
		 <div class="span5">
		 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, perferendis, maxime commodi voluptatem omnis quaerat nulla eum dolore illum tenetur dignissimos maiores ex qui tempora pariatur labore in ad similique.
		 </div>
	</div>
	
