html{background-image : url(f.jpg) ;
	/* background-repeat: no-repeat;*/}
body {
	width: 900px;
	/*height: 900px;*/
	/*background-color: #D51F22;*/
	margin-left: 150px;
	margin-right:200px;
	margin-top: 20px;
}
#link {color : #debc54; }
/*.transbg {
 background-color: #ffffff;
filter:alpha(opacity=70);
-moz-opacity:0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
}*/
#row-margin{ margin-left: 70px;margin-top: 40px;}

#carousel {margin-left: 180px; margin-top: 50px;}

#prev {margin-left: 160px; margin-top: 20px;}

#next{margin-right: 200px;margin-top: 20px;}

#carousel-caption{margin-right: 400px;}

#carousel-indicators{margin-right: 211px;}

#form-connexion{margin-left: 200px;margin-top: 20px;}

#activite{margin-left: 95px;margin-top: 40px;}

#content{margin-left: 10px;}

#icon {color : #debc54; margin-left: 362px;}

#icon1 {color : #debc54;}

#date{margin-left: 25px;}

#title{color : #D51F22;}
#all-activites{margin-left: 70px; }
#icon_mod{color :red;}
#line-margin {margin-left: 400px}

/*formulaire activité/new*/

#form_new { margin-left: 80px;}
#form_new_titre { margin-left:   264px}
#margin_new {margin-left: 616px;}
#border_vertical { height: 50px;  margin-top: 50px; border-right: 3px solid  #2AB364;}
#membrebureau{margin-top: 80px; margin-left: -13px}
#membrebureau1{; margin-left: -13px}
#icon-membre {color : #debc54; margin-left: 300px;}
#title-membre{ margin-left: 300px; color : #D51F22;}
#icon_mod_aff_new{color :red; margin-left:375px;}
#newaffiche{margin-left: 90px;}
#line-margin-new{margin-left:121px; }